<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>      
       <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,[*Tests]*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeByFile>**/test/**/*.cs,**/src/CAVerifierServer.Application.Contracts/Permissions/**/*.cs,**/src/CAVerifierServer.DbMigrator/**/*.cs,**/src/CAVerifierServer.Domain/**/*.cs,**/src/CAVerifierServer.Domain.Shared/**/*.cs,**/src/CAVerifierServer.EntityEventHandler/**/*.cs,**/src/CAVerifierServer.EntityFrameworkCore/**/*.cs,**/src/CAVerifierServer.HttpApi.Host/**/*.cs,**/src/CAVerifierServer.HttpApi.Client/**/*.cs,**/src/CAVerifierServer.AuthServer/**/*.cs,**/src/CAVerifierServer.MongoDB/**/*.cs,**/src/CAVerifierServer.Grains/Common/*.cs,**/src/CAVerifierServer.HttpApi/Controllers/*.cs</ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>    
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>